:root {
  --link-color: #292f36;
  --hover-link: #cda274;
  --desc-color: #4D5053;
  --white: #fff;
  --bcg: #F4F0EC;
}

.header {
    padding-top: 26px;
    justify-content: center;

}

.container {
  width: 1200px;

  margin: auto;
}


.header-box {
  display: flex;
}

.header-logo {
    padding-top: 26px;
    margin-right: 484px;
    padding-bottom: 12px;
}

.nav-list {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 38px;
}

.nav-link {
  color: var(--link-color);
  font-family: "Jost";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.4px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-link);
}

.active {
    color: var(--hover-link)                ;
}


.hero {
    background-image: url(../img/hero-bcg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 831px;
    margin: auto;
    padding-top: 188px;
}

.hero-logo {
    color: var(--link-color);
font-family: "DM Serif Display";
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 96px; 
letter-spacing: 0.22px;
}

.hero-desc {
font-family: 'Jost';
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.22px;
color: var(--desc-color);
margin-top: 19px;
margin-bottom: 35px;
}

.hero-button {
    background-color: var(--link-color);
    color: var(--white);
font-family: 'Jost';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.72px; 
width: 207px;
height: 71px;
border-radius: 18px;
}

.button-str {
    color: var(--hover-link);
}

.desc {
    padding-top: 175px;
}

.desc-list {
    display: flex;
    gap: 93px;
} 

.desc-title {
    color:var(--link-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 39px;
letter-spacing: 0.22px;
margin-bottom: 17px;
}

#first-desc {
  margin-bottom: 68px;
}


.desc-desc {
    color: var(--desc-color);
text-align: center;
font-family: 'Jost';
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.22px;
margin-bottom: 35px;
}

.desc-view {
  color: var(--desc-color);
font-family: 'Jost';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.36px;
justify-content: center;
display: flex;
}

.desc-str {
  color: var(--hover-link);
}

.design {
  padding-top: 100px;
}


.design-container {
  display: flex;
}


.design-title {
  color: var(--link-color);
font-family: "DM Serif Display";
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 65px;
letter-spacing: 0.22px;
margin-bottom: 42px;
}

.design-desc {
  color: var(--desc-color);
font-family: 'Jost';
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px; 
letter-spacing: 0.22px;
margin-bottom: 30px;
padding-right: 61px;
}

.call-box {
  display: flex;
}

.design-call {
  justify-content: center;
  width: 34px;
  height: 34px;
}

.design-call::before {
  content: "";
  width: 93px;
height: 93px;
border-radius: 100px;
background-color: var(--bcg);
}

.call-text {
  color: var(--desc-color);
font-family: 'Jost';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 36px; 
letter-spacing: 0.22px;
margin-left: 20px;
margin-bottom: 68px;
}

.design-btn {
  background-color: var(--link-color);
  color: var(--white);
font-family: 'Jost';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0.72px; 
width: 207px;
height: 71px;
border-radius: 18px;
}


.design-img {
  margin-left: 16px;
}

.people {
padding-top: 139px;
}

.people-container {
background-color: var(--bcg);
border-radius: 70px ;
}

.people-title {
  color: var(--link-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 58.5px;
letter-spacing: 0.22px;
}

.people-list {
  display: flex;
  gap: 16px;
  margin-top: 47px;
justify-content: center;
padding-bottom: 121px;
}

.people-item {
  border-radius: 30px;
  background-color: var(--white);
  width: 354px;
height: 287px; 
}



.people-img {
width: 77px;
height: 77px;   
margin-right: 20px;    
}

.people-name {
  color: var(--link-color);
font-family: "DM Serif Display";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 37.5px;
letter-spacing: 0.22px;
padding-top: 55px;
}

.name-desc {
  color: var(--desc-color);
font-family: 'Jost';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.22px;
}

.people-desc {
  color: var(--desc-color);
font-family: 'Jost';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: 0.22px;
margin-top: 25px;
}

.partners {
  padding-top: 140px; 
  padding-bottom: 100px;
}

.partners-list {
  display: flex;
  justify-content: center;
  gap: 125px;
  align-items: center;
}



.recent-title {
  color: var(--link-color);
text-align: center;
font-family: "DM Serif Display";
font-size: 47px;
font-style: normal;
font-weight: 400;
line-height: 62.4px; 
letter-spacing: 0.22px;
}

.project-desc {
  color: var(--desc-color);
text-align: center;
font-family: 'Jost';
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.22px;
margin-top: 20px;
}

.recent-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 71px;
}

.project-title {
  color: var(--link-color);
font-family: "DM Serif Display";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 37.5px;
letter-spacing: 0.22px;
margin-top: 22px;
}

.recent-desc {
  color: var(--desc-color);
font-family: 'Jost';
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0.22px;
}







